@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<BloodRequest>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Blood Request Approvals";

}


<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Blood Request Date</th>
            <th>Blood Type</th>
            <th>Is Active</th>
            <th>Is Approved</th>
            <th>Blood Request Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.Id</td>
                <td>@request.BloodRequestDate</td>
                <td><span class="alert alert-danger">@request.BloodType.BloodTypeName</span></td>
                
                <td> <input type="checkbox" class="form-check-input" name="IsActive" value="true" disabled @(request.IsActive ? "checked" : "") /></td>

                   
                <td> <input type="checkbox" class="form-check-input" name="IsActive" value="true" disabled @(request.isApproved ? "checked" : "") /></td>
                <td>
                    @if (request.isApproved && request.IsActive)
                    {
                        <span class="alert alert-success">Available For Donation!</span>
                    }
                    else if (request.isApproved && !request.IsActive)
                    {
                        <span class="alert alert-warning">Approved but not active yet</span>
                    }
                    else if (!request.isApproved)
                    {
                        <span class="alert alert-danger">Not Approved</span>
                    }
                    else if (request.Quantity <= 0)
                    {
                        <span class="alert alert-primary">blood Request Completed</span>
                    }


                </td>

                <td>
                    @if (@request.isApproved == false)
                    {
                        <form asp-controller="Admin"
                              asp-action="Approve"
                              asp-route-id="@request.Id"
                              method="post"
                              style="display:inline">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Approve
                            </button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Admin"
                              asp-action="Reject"
                              asp-route-id="@request.Id"
                              method="post"
                              style="display:inline">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Reject
                            </button>
                        </form>
                    }

                </td>
            </tr>
        }

    </tbody>
</table>