@*
*@
@using BloodDonationSystem.DTOS

@model List<DonationsWithBloodRequestAndDonorDTO>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Donation Approvals";
}

<h2>Donation Approvals</h2>
<p>Approve or reject donations here.</p>
<div class="table-responsive">
<table class="table table-striped" >
    <thead>
        <tr>
            <th>Donation ID</th>
            <th>Blood Request ID</th>
            <th>Requested Blood Type</th>
            <th>Donator Name</th>
            <th>Donator Email</th>
            <th>Donator Phone Number</th>
            <th>Donator Blood Type</th>
            <th>Donation Status</th>
            <th>Donation Quantity</th>
            <th>Donation Date Submitted</th>
            <th>When user want to donate</th>
            <th>Blood Request Date</th>
            <th>Is Donation Active</th>
            <th>Is Donor Available</th>
            <th>Approve or Reject Donation </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var donations in Model)
            {
                    
                bool disableApprove =
                (!donations.IsDonationActive && !donations.IsDonatorAvailable)
                || string.Equals(donations.DonationStatus?.Trim(), "Cancelled", StringComparison.OrdinalIgnoreCase)
                || string.Equals(donations.DonationStatus?.Trim(), "Completed", StringComparison.OrdinalIgnoreCase)
                || string.Equals(donations.DonationStatus?.Trim(), "Approved", StringComparison.OrdinalIgnoreCase);
    
                <tr>
                    <td>@donations.DonationId</td>
                    <td>@donations.BloodRequestId</td>
                    <td><span class="alert alert-danger">@donations.RequestedBloodType </span></td>
                    <td>@donations.DonatorName</td>
                    <td>
                        @if (@donations.DonatorEmail == "" || @donations.DonatorEmail == null)
                        {
                            <span>N/A</span>
                        }
                        else
                        {
                            @donations.DonatorEmail
                        }
                    </td>
                    <td>
                        @if (@donations.DonatorPhoneNumber == "" || @donations.DonatorPhoneNumber == null)
                        {
                            <span>N/A</span>
                        }
                        else
                        {
                            @donations.DonatorPhoneNumber
                        }
                    </td>
                    <td> <span class="alert alert-danger">@donations.DonatorBloodType </span></td>
                    <td>@donations.DonationStatus</td>
                    <td>@donations.DonationQuantity</td>
                    <td>@donations.DonationDateSubmitted</td>
                    <td>
                        @if (@donations.WhenUserWantToDonate != null)
                        {
                            @donations.WhenUserWantToDonate
                        }
                        else
                        {
                            <span>N/A</span>
                        }

                    </td>
                    <td>@donations.BloodRequestDate</td>
                    <td> <input type="checkbox" class="form-check-input" name="IsActive" value="true" disabled @(donations.IsDonationActive ? "checked" : "") /></td>
                    <td> <input type="checkbox" class="form-check-input" name="IsActive" value="true" disabled @(donations.IsDonatorAvailable ? "checked" : "") /></td>
                    <td>
                        <form asp-controller="Admin"
                              asp-action="ApproveDonation"
                              method="post"
                              style="display:inline">

                            <input type="hidden" name="BloodRequestId" value="@donations.BloodRequestId" />

                            <button type="submit"
                                    class="btn btn-sm btn-primary"
                                    disabled="@(disableApprove ? "disabled" : null)">
                                Approve Donation
                            </button>

                        </form>
                        <form asp-controller="Admin"
                              asp-action="RejectDonation"
                              method="post"
                              style="display:inline">

                            <input type="hidden" name="BloodRequestId" value="@donations.BloodRequestId"  />

                            <button type="submit"
                                    class="btn btn-sm btn-danger"
                                    style="margin-top: 15px"
                                    disabled="@(string.Equals(donations.DonationStatus?.Trim(), "Completed", StringComparison.OrdinalIgnoreCase) || string.Equals(donations.DonationStatus?.Trim(), "Rejected", StringComparison.OrdinalIgnoreCase) ? "disabled" : null)">
                                Reject Donation
                            </button>
                        </form>

                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>