@using BloodDonationSystem.DTOS
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BloodRequestToSubmitDTO
@{
}
@if(Model.ApprovedBloodRequests.Count == 0)
{
    <h2>No approved blood requests at the moment. Please check back later.</h2>
    return;
}

@if(Model.isUserADonor == false)
{
    <h3>You are not registered as a donor. Please register as a donor to view and respond to blood requests.</h3>
    return;
}

@if(Model.DoesUserHaveBloodType == false)
{
    <h3>You have not specified your blood type.Please Contact the admin to assign blood type.</h3>
    return;
}

<h1>Be a hero and donate Today!</h1>

<h4 style="font-weight:600">Compatible Blood Types are Accepted</h4>

@if(!Model.IsDonorAvailableToDonate)
{
    <h3 style="color:red">You are currently not Available to donate blood. Please Set yourself Available to donate!</h3>
}
@if (Model.DidUserCompleteHisDonationTimeLimit == false)
{
    <h3 style="color:red">You have recently donated blood, you can only donate every 60 days, please check the blood donation guide at home page for more information</h3>
}

@if (ViewData.ModelState["BloodIncompatible"]?.Errors.Count > 0)
{  
    <div class="alert alert-danger" role="alert">
        <strong>Stop!</strong> @Html.ValidationMessage("BloodIncompatible")
    </div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Blood Requeset Id</th>
            <th>Blood Type Needed</th>
            <th>Quantity Requested</th>
            <th>Blood Request Date</th>
            <th>is Active</th>
            <th>Donation Status</th>
            <th>submit now</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bloodRequest in Model.ApprovedBloodRequests)
        {
            <tr>
                <td>@bloodRequest.Id</td>
                <td>
                    <span class="alert alert-danger">@bloodRequest.BloodTypeName</span>
                </td>
                <td style="font-weight:600;font-size:1.3rem">@bloodRequest.QuantityRequested</td>
                <td>
                    @bloodRequest.BloodRequestDate.ToShortDateString()
                </td>
                <td> <input type="checkbox" class="form-check-input" name="IsActive" value="true" disabled @(bloodRequest.IsBloodRequestActive ? "checked" : "") /></td>
                <td>
                    @if (bloodRequest.Status == "Available For Donation!")
                    {
                        <span class="alert alert-success">@bloodRequest.Status</span>

                    }
                    else if (bloodRequest.Status == "Pending")
                    {
                        <span class="alert alert-info">@bloodRequest.Status</span>

                    }
                    else if (bloodRequest.Status == "Approved")
                    {
                        <span class="alert alert-info">@bloodRequest.Status</span>

                    }
                    else if (bloodRequest.Status == "Completed")
                    {
                        <span class="alert alert-success">@bloodRequest.Status</span>

                    }
                    else if (bloodRequest.Status == "Cancelled")
                    {
                        <span class="alert alert-danger">@bloodRequest.Status</span>

                    }
                    else if (bloodRequest.Status == "Rejected")
                    {
                        <span class="alert alert-danger">@bloodRequest.Status</span>

                    }
                    else
                    {
                        <span class="alert alert-secondary">@bloodRequest.Status</span>
                    }
                </td>
                <td>

                    @if (bloodRequest.Status == "Available For Donation!")
                    {
                        <form asp-controller="BloodRequest"
                              asp-action="CreateDonationRequest"
                              method="post"
                              style="display:inline">
                              <div class="d-flex flex-column gap-2">
                            <input type="hidden" name="BloodRequestId" value="@bloodRequest.Id" />
                            <input type="hidden" name="patientBloodType" value="@bloodRequest.BloodTypeName" />
                            <input type="date"
                                   id="datePicker"
                                   name="WhenUserWantToDonate"
                                   min="@DateTime.Now.ToString("yyyy-MM-dd")" @(!Model.IsDonorAvailableToDonate ? "disabled" : "") 
                                   @(Model.DidUserCompleteHisDonationTimeLimit == false ? "disabled" : "") />
                                
                                <span asp-validation-for="WhenUserWantToDonate" class="text-danger"></span>
                            <button type="submit" class="btn btn-sm btn-primary" @(!Model.IsDonorAvailableToDonate ? "disabled" : "")
                                    @(Model.DidUserCompleteHisDonationTimeLimit == false ? "disabled" : "")
                            >
                                Donate Now
                            </button>
                            </div>
                        </form>
                    }
                    else if (bloodRequest.Status == "Pending")
                    {
                        <form asp-controller="BloodRequest" asp-action="CancelDonation" method="post" style="display:inline">
                            <input type="hidden" name="BloodRequestId" value="@bloodRequest.Id" />

                            <button type="submit" class="btn btn-sm btn-danger">
                                Cancel Donation
                            </button>
                        </form>
                    }
                    else if (bloodRequest.Status == "Approved")
                    {
                        <form asp-controller="BloodRequest" asp-action="CancelDonation" method="post" style="display:inline">
                            <input type="hidden" name="BloodRequestId" value="@bloodRequest.Id" />

                            <button type="submit" class="btn btn-sm btn-danger">
                                Cancel Donation
                            </button>
                        </form>
                    }
                    else if (bloodRequest.Status == "Completed")
                    {
                        <button class="btn btn-secondary" disabled>Donation Completed</button>
                    }
                    else if (bloodRequest.Status == "Cancelled")
                    {
                        <form asp-controller="BloodRequest"
                              asp-action="ReactivateDonation"
                              method="post"
                              style="display:inline">

                            <input type="hidden" name="BloodRequestId" value="@bloodRequest.Id" />

                            <button type="submit" class="btn btn-sm btn-primary" @(!Model.IsDonorAvailableToDonate ? "disabled" : "")
                                    @(Model.DidUserCompleteHisDonationTimeLimit == false ? "disabled" : "")
                            >
                                Donate Now
                            </button>
                        </form>
                    }
                    else if (bloodRequest.Status == "Rejected")
                    {
                        <button class="btn btn-primary" disabled>Donation Rejected</button>
                    }


                </td>
            </tr>
        }

    </tbody>
</table>

