@using BloodDonationSystem.DTOS
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CreateBloodRequestDTO
@{

    ViewData["Title"] = "Blood Request Management";

}
<div class="BloodRequestStyle">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h1>Blood Request Management</h1>

<div class="bloodTypesRequest">
    <h1>Add new blood request</h1>
        <form asp-controller="BloodRequest" asp-action="CreateBloodRequest" method="post">
        <h3>Create New Request</h3>

        <div class="d-flex flex-wrap gap-4">
            @for (int i = 0; i < Model.BloodTypes.Count; i++)
            {
                <div class="card p-3">
                    <input type="hidden" asp-for="@Model.BloodTypes[i].BloodTypeId" />
                    <input type="hidden" asp-for="@Model.BloodTypes[i].BloodTypeName" />

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="@Model.BloodTypes[i].IsSelected" />
                        <label class="form-check-label">
                            @Model.BloodTypes[i].BloodTypeName
                        </label>
                    </div>

                    <input type="number" asp-for="@Model.BloodTypes[i].Quantity" class="form-control mt-2" placeholder="Qty" />
                </div>
            }
        </div>

        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>

    <br />
<br />


<span>Important Note: To make a request active an admin must approve it</span>
<br/>
<div class="w-100">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>blood type name</th>
            <th>Quantity</th>
            <th>Request Date</th>
            <th>Is active</th>
            <th>Is Approved</th>
            <th>Activate</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var BloodRequest in Model.BloodRequests)
            {
                <tr>
                    <td>@BloodRequest.Id</td>
                    <td>@BloodRequest.BloodTypeName</td>
                    <td>
                       @BloodRequest.QuantityRequested
                    </td>
                    <td>
                        @BloodRequest.BloodRequestDate
                    </td>
                    <td>
                        @BloodRequest.IsBloodRequestActive
                    </td>
                    <td>
                        @BloodRequest.IsBloodRequestApproved
                    </td>
                    <td>
                        @if (BloodRequest.IsBloodRequestApproved){
                                    @if (!BloodRequest.IsBloodRequestActive)
                                    {
                                        <form asp-controller="BloodRequest"
                                              asp-action="Activate"
                                              asp-route-id="@BloodRequest.Id"
                                              method="post"
                                              style="display:inline">
                                            <button type="submit" class="btn btn-sm btn-primary">
                                                Activate
                                            </button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form asp-controller="BloodRequest"
                                              asp-action="DeActivate"
                                              asp-route-id="@BloodRequest.Id"
                                              method="post"
                                              style="display:inline">
                                            <button type="submit" class="btn btn-sm btn-danger">
                                                DeActivate
                                            </button>
                                        </form>
                                    }
                                }
                                else
                                {
                                    <p>To Activate Request it must <br /> be approved by Admin</p>
                                }
                            </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>
</div>


